<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- CACHING -->
	<system.runtime.caching>
		<memoryCache>
			<namedCaches>
				<add name="EnterpriseCache"
					 cacheMemoryLimitMegabytes="2048"
					 physicalMemoryLimitPercentage="40"
					 pollingInterval="00:04:01"/>
			</namedCaches>
		</memoryCache>
	</system.runtime.caching>
	<connectionStrings>
		<add name="EnterpriseDb"
			 connectionString="Data Source=inscon1.iss.local;Initial Catalog=EnterpriseDbTest;Trusted_Connection=true;Application Name=Inscon"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0"/>
		<requiredRuntime version="v4.0.20506"/>
	</startup>
</configuration>