/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
	line-height: 12px;
	font-size: 12px;
}

table
{
	text-align: left;
}

.table-extracondensed
{
	padding:1px;
}

.table td, .table th
{
	line-height: 12px;
}

.header
{
	color: #0088cc;
}

.nav-header
{
	color: #666666;
}













