<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAddressLocationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52709/AddressLocationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddressLocationService"
                contract="AddrLoc.IAddressLocationService" name="BasicHttpBinding_IAddressLocationService" />
        </client>
    </system.serviceModel>
</configuration>