<?xml version="1.0"?>
<configuration>
	<!-- CACHING -->
	<system.runtime.caching>
		<memoryCache>
			<namedCaches>
				<add name="EnterpriseCache" 
					 cacheMemoryLimitMegabytes="2048" 
					 physicalMemoryLimitPercentage="40" 
					 pollingInterval="00:04:01"/>
			</namedCaches>
		</memoryCache>
	</system.runtime.caching>
	<connectionStrings>
		<add name="EnterpriseDb" 
			 connectionString="Data Source=inscon1.iss.local;Initial Catalog=EnterpriseDb;Trusted_Connection=true;Application Name=Inscon" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" 
			 value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" 
					 targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" 
									 httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" 
				 scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" 
								   multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
